<h3>
  Comments
  <button (click)="addComment.emit()"
          (keydown.enter)="addComment.emit()"
          (keydown.space)="addComment.emit()"
  >
    +
  </button>
</h3>
@for (comment of comments(); track $index) {
  <span [tabindex]="0"
        title="Edit"
        (click)="editComment.emit($index)"
        (keydown.enter)="editComment.emit($index)"
        (keydown.space)="editComment.emit($index)"
  >
          {{ comment }}
  </span>
  <button class="delete"
          (click)="deleteComment.emit($index)"
          (keydown.enter)="deleteComment.emit($index)"
          (keydown.space)="deleteComment.emit($index)"
  >
    x
  </button>
} @empty {
  <small>none</small>
}
