<header>
  <h1>Select a Tag</h1>
</header>
<main>
  @if (unusedTags()) {
    @for (tag of unusedTags(); track $index) {
      <button (click)="add(tag)"
              (keydown.enter)="add(tag)"
              (keydown.space)="add(tag)"
      >
        {{ tag | humanReadableTag }}
        {{ tag | tagIcon }}
      </button>
    }
  }
</main>
<footer>
  <button class="cancel"
          (click)="add(undefined)"
          (keydown.enter)="add(undefined)"
          (keydown.space)="add(undefined)"
  >
    Cancel
  </button>
</footer>
