@use 'button';

:host {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: .5rem;

  button {
    @include button.outline;
    min-width: 3rem !important;

    &.selected {
      @include button.primary
    }
  }
}
