@for (mate of crewMates(); track $index) {
  <details>
    <summary>
      <fa-icon [icon]="icons.user"/>
      <span>{{ mate.name | enumToString }}</span>
      <app-crew-fatigue-indicator [fatigue]="mate.fatigue" />
      <app-crew-health-indicator [health]="mate.maxHealth - mate.injuries"
                                 [maxHealth]="mate.maxHealth"
      />
    </summary>
    @if (players().length > 1 && mate.name !== CrewNames.CAPTAIN) {
      <app-crew-player-selection [players]="players()"
                                 [selectedPlayer]="mate.playerIndex"
                                 (playerChange)="updateControllingPlayer(mate, $event)"
      />
    }
    <app-crew-fatigue [fatigue]="mate.fatigue || 0"
                      [maxFatigue]="mate.name === CrewNames.CAPTAIN ? 3 : 2"
                      (increment)="incrementFatigue(mate, 1)"
                      (decrement)="incrementFatigue(mate, -1)"
    />
    <app-crew-command-tokens [commandTokens]="mate.commandTokens"
                             (increment)="incrementCommandToken(mate, $event, 1)"
                             (decrement)="incrementCommandToken(mate, $event, -1)"
    />
    <app-crew-items [title]="'Equipment'"
                    [items]="mate.equipment"
                    (add)="addEquipment(mate)"
                    (remove)="removeEquipment(mate, $event)"
    />
    <app-crew-items [title]="'Xp cards'"
                    [items]="mate.xpCards"
                    (add)="addXpCard(mate)"
                    (remove)="removeXpCard(mate, $event)"
    />
    <app-crew-items [title]="'Ability cards'"
                    [items]="mate.abilityCards"
                    (add)="addAbilityCard(mate)"
                    (remove)="removeAbilityCard(mate, $event)"
    />
    <app-crew-injuries [injuries]="mate.injuries"
                       [maxHealth]="mate.maxHealth + (mate.hasHealthCard? 1 : 0)"
                       (incrementInjuries)="incrementInjuries(mate, $event)"
    />
    <app-crew-comment [mateName]="mate.name"
                      [comment]="mate.comment"
                      (updateComment)="updateComment(mate, $event)"
    />
  </details>
}
