@use 'details';

:host {
  display: block;
  padding: 1rem;

  details {
    @include details.second-level;

    summary {
      display: flex;
      gap: 1.5rem;

      span {
        width: 50%;
      }
      app-crew-health-indicator,
      app-crew-fatigue-indicator {
        width: 4rem;
      }
    }

    app-crew-player-selection,
    app-crew-command-tokens,
    app-crew-items,
    app-crew-injuries,
    app-crew-comment {
      margin-top: 1rem;
    }
  }
}
