@for (player of players(); track $index) {
  <p>
    <span>{{ player }}</span>
    <button class="delete"
            [disabled]="players().length <= minPlayers"
            (click)="removePlayer($index)"
            (keydown.enter)="removePlayer($index)"
            (keydown.space)="removePlayer($index)"
    >
      <fa-icon [icon]="faMinus"/>
    </button>
  </p>
}
<button [disabled]="players().length >= maxPlayers"
        (click)="addPlayer()"
        (keydown.enter)="addPlayer()"
        (keydown.space)="addPlayer()"
>
  + Add Player
</button>
