<details>
  <summary>Quests</summary>
  @for (quest of quests(); track quest.id) {
    <app-quest [quest]="quest"
               (click)="showQuestDetails(quest.id)"
               (keydown.enter)="showQuestDetails(quest.id)"
               (keydown.space)="showQuestDetails(quest.id)"
    />
  } @empty {
    <small>none yet</small>
  }
  <button (click)="addQuest()"
          (keydown.enter)="addQuest()"
          (keydown.space)="addQuest()"
  >
    +
  </button>
</details>

<details>
  <summary>Pages</summary>
  <app-page-selection [pages]="pages"
                      [selectedPage]="selectedPage()"
                       (selectionChange)="updateSelection($event)"
  />
  @for (location of filteredLocations(); track location.id) {
    <app-location [questCards]="questCards"
                  [location]="location"
                  [availableQuests]="quests()"
                  (locationChange$)="updateLocation($event)"
    />
  }
</details>

<details>
  <summary>Ship</summary>
  <app-ship [room]="ship.room()"
            [location]="ship.location()"
            [damage]="ship.damage()"
            (locationChange)="updateShipLocation($event)"
            (roomChange)="updateShipRoom($event)"
            (damageChange)="updateShipDamage($event)"
  />
</details>

<details>
  <summary>Items & XP</summary>
  <app-items [items]="items()"
             (itemsChanged)="updateItems($event)"
  />
</details>

<details>
  <summary>Players & Crew</summary>
  <app-players [players]="players()"
               (playerChange)="updatePlayers($event)"
  />
  <app-crew [crew]="crew()"
            [players]="players()"
            (crewChange)="updateCrew($event)"
  />
</details>
