<details [open]="true">
  <summary>Quests</summary>
  @for (quest of quests(); track quest.id) {
    <app-quest [quest]="quest"
               (click)="showQuestDetails(quest.id)"
    />
  }
  <button (click)="addQuest()">+</button>
</details>

<details [open]="true">
  <summary>Pages</summary>
  <app-page-selection [pages]="pages"
                      [selectedPage]="selectedPage()"
                       (selectionChange$)="updateSelection($event)"
  />
  @for (location of filteredLocations(); track location.id) {
    <app-location [questCards]="questCards"
                  [location]="location"
                  [availableQuests]="quests()"
                  (locationChange$)="updateLocation($event)"
    />
  }
</details>
