<details>
  <summary>Quests</summary>
  <app-quests [quests]="quests()"
              (showDetails)="showQuestDetails($event)"
              (addQuest)="addQuest()"
  />
</details>

<details id="pages">
  <summary>Pages</summary>
  <app-page-selection [pages]="pages"
                      [selectedPage]="selectedPage()"
                       (selectionChange)="updateSelection($event)"
  />
  @for (location of filteredLocations(); track location.id) {
    <app-location [identifier]="locationIdPrefix + '-' + location.id"
                  [questCards]="questCards"
                  [location]="location"
                  [availableQuests]="quests()"
                  (locationChange$)="updateLocation($event)"
    />
  }
</details>

<details>
  <summary>Ship</summary>
  <app-ship [room]="ship.room()"
            [location]="ship.location()"
            [damage]="ship.damage()"
            (locationChange)="updateShipLocation($event)"
            (roomChange)="updateShipRoom($event)"
            (damageChange)="updateShipDamage($event)"
  />
</details>

<details>
  <summary>Items & XP</summary>
  <app-items [items]="items()"
             (itemsChanged)="updateItems($event)"
  />
</details>

<details>
  <summary>Players & Crew</summary>
  <app-players [players]="players()"
               (playerChange)="updatePlayers($event)"
  />
  <app-crew [crew]="crew()"
            [players]="players()"
            (crewChange)="updateCrew($event)"
  />
</details>
