@use 'button';

details {
  margin-bottom: 1rem;

  summary {
    cursor: pointer;
  }

  &[open] {
    summary {
      font-weight: bold;
    }
  }

  button {
    @include button.primary;
  }

  app-quest {
    margin: .25rem;
  }
}

app-location {
  margin-bottom: 1rem;
}
