@if (quest()) {
  <header>
    <h1>{{ quest()!.name }}</h1>
    <h2>{{ quest()!.id }}</h2>
  </header>

  <main>
    <p>Required in:</p>
    <p class="badges">
      @for (location of matchingLocations(); track $index) {

        <app-badge [mainText]="location.id.toString()"
                   [subText]="'p' + location.page.toString()"
        />
      } @empty {
        <small>no matches</small>
      }
    </p>
    <p>Rewarded in</p>
    <p class="badges">
      @for (location of rewardLocations(); track location.id) {
        <app-badge [mainText]="location.id.toString()"
                   [subText]="'p' + location.page.toString()"
        />
      } @empty {
        <small>unknown</small>
      }
    </p>

  </main>

  <footer>
    <button (click)="delete()"
            (keydown.enter)="delete()"
            (keydown.space)="delete()"
    >
      Delete
    </button>
    <button (click)="close()"
            (keydown.enter)="close()"
            (keydown.space)="close()"
    >
      Close
    </button>
  </footer>
}
