@if (quest()) {
  <header>
    <h1>{{ quest()!.name }}</h1>
    <h2>{{ quest()!.id }}</h2>
  </header>

  <main>
    <p>Required in:</p>
    <p class="badges">
      @for (location of matchingLocations(); track $index) {
        <ng-container *ngTemplateOutlet="badge; context: {$implicit: location}" />
      } @empty {
        <small>no matches</small>
      }
    </p>
    <p>Rewarded in</p>
    <p class="badges">
      @for (location of rewardLocations(); track location.id) {
        <ng-container *ngTemplateOutlet="badge; context: {$implicit: location}" />
      } @empty {
        <small>unknown</small>
      }
    </p>

  </main>

  <footer>
    <button (click)="delete()"
            (keydown.enter)="delete()"
            (keydown.space)="delete()"
    >
      Delete
    </button>
    <button (click)="close()"
            (keydown.enter)="close()"
            (keydown.space)="close()"
    >
      Close
    </button>
  </footer>
}

<ng-template #badge
             let-location
>
  <app-badge tabindex="0"
             [mainText]="location.id.toString()"
             [subText]="'p' + location.page.toString()"
             (click)="openLocation(location.id)"
             (keydown.enter)="openLocation(location.id)"
             (keydown.space)="openLocation(location.id)"
  />
</ng-template>
