@use 'button';

:host {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;

  header {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;

    h1 {
      text-transform: uppercase;
    }

    h2 {
      font-size: small;
    }
  }

  main {
    flex-grow: 1;

    .badges {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  footer {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;

    button {
      @include button.primary;

      &:last-of-type {
        @include button.outline
      }
    }
  }
}
