@mixin -shared {
  cursor: pointer;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 6px 12px;

  &[disabled] {
    cursor: not-allowed;
  }
}

@mixin primary {
  @include -shared;
  background-color: var(--primary-600);
  color: var(--primary-100);
  border-color: var(--primary-700);

  &:not([disabled]) {
    &:hover,
    &:active {
      background-color: var(--primary-700);
      border-color: var(--primary-700);
    }
  }

  &[disabled] {
    background-color: var(--disabled-000);
  }
}

@mixin outline {
  @include -shared;
  background-color: transparent;
  border-color: var(--primary-700);
  color: var(--primary-000) !important;

  &:not([disabled]) {
    &:hover,
    &:active {
      background-color: var(--primary-700) !important;
    }
  }
}

@mixin ghost {
  @include -shared;
  background-color: transparent;
  border-color: transparent;
  color: var(--primary-000);

  &:not([disabled]) {
    &:hover,
    &:active {
      color: var(--primary-400);
    }
  }
  &[disabled] {
    color: var(--disabled-000);
  }
}
