<span>Injuries</span>
<div class="injuries">
  <fa-icon [tabindex]="0"
           role="button"
           title="Remove one injury"
           [icon]="icons.heartMinus"
           [class.disabled]="!injuries()"
           (click)="decreaseInjuries()"
           (keydown.enter)="decreaseInjuries()"
           (keydown.space)="decreaseInjuries()"
  />
  @for (heart of injuriesHearts(); track $index) {
    <fa-icon [icon]="heart ? icons.filledHeart : icons.emptyHeart"/>
  }
  {{ injuries() }}
  <fa-icon [tabindex]="0"
           role="button"
           title="Add one injury"
           [icon]="icons.heartPlus"
           [class.disabled]="injuries() >= maxHealth()"
           (click)="increaseInjuries()"
           (keydown.enter)="increaseInjuries()"
           (keydown.space)="increaseInjuries()"
  />
</div>
