@use 'button';

:host {
  display: block;

  & > div {
    margin-left: var(--spacing-1);
  }

  button {
    @include button.primary;
  }

  span {
    display: inline-block;
    text-align: center;
    width: 3ch;
  }
}
