@use '../../../../../shared/theme/button';

:host {

  div {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    max-width: 100%;
    gap: .25rem;

    button {
      @include button.primary;
    }
  }
}
