<p>
  This is an unofficial companion app for the board game <a [href]="gameUrl">Sleeping Gods by RedRavenGames</a>.
</p>
<p>
  It can be used to track your progress in the game. If this app suits your needs, feel free to use it.
</p>
<p>
  Not compatible with any expansions to the game.
  Internationalization is not provided or planned.
</p>
<p>
  There is no tracking, and no cookies are being used.
  Anything you enter will be stored in your browser and never leave your device.
</p>
<p>
  Code on <a [href]="githubUrl">gitHub</a>
</p>
