@use 'button';
@use 'details';

button {
  @include button.ghost;

  &.burger {
  font-size: 2rem;
  position: relative;
  display: block;
  left: 1rem;
  }
}

.menu {
  z-index: 99;
  position: fixed;
  inset: 0;
  padding: 1rem;
  background-color: var(--primary-900);
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  & > div {
    width: min(960px, calc(100vw - 2rem));
    margin: 0 auto;
    position: relative;
  }

  details {
    @include details.default;

    &.danger {
      &[open] {
        border-left: 3px solid var(--danger-000);
        border-right: 3px solid var(--danger-000);
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
      }
    }
  }

  button {
    font-size: 1rem;

    &:not(.close) {
      @include button.primary;
    }

    &.close {
      @include button.outline;
      position: absolute;
      top: .5rem;
      right: 0;
    }
  }

  summary {
    cursor: pointer;
  }

  section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    p {
      max-width: 80ch;
    }
  }
}
