@if (!showMenu()) {
  <button (click)="open()">≡</button>
} @else {
  <div class="menu">
    <button class="close"
            (click)="close()"
    >
      X
    </button>
    <button (click)="export()">Export</button>
    <div class="danger">
      Danger Zone
      <button (click)="clearStorage()">Clear Storage</button>
      <button (click)="clearQuests()">Remove all Quests</button>
      <button (click)="unmarkLocations()">Mark all Locations as not done</button>
    </div>

    <details>
      <summary>What is this?</summary>
      <p>
        This is an unofficial companion app for the board game <a [href]="gameUrl">Sleeping Gods by RedRavenGames</a>.
      </p>
      <p>
        It can be used to track your progress in the game. If this app suits your needs, feel free to use it.
      </p>
      <p>
        Not compatible with any expansions to the game.
        Internationalization is not provided or planned.
      </p>
      <p>
        There is no tracking, and no cookies are being used.
        Anything you enter will be stored in your browser and never leave your device.
      </p>
      <p>
        Code on <a [href]="codeUrl">gitHub</a>
      </p>
    </details>
  </div>
}
