@if (!showMenu()) {
  <button class="burger"
          (click)="open()"
          (keydown.enter)="open()"
          (keydown.space)="open()"
  >
    ≡
  </button>
} @else {
  <div class="menu">
    <div>
    <button class="close"
            (click)="close()"
            (keydown.enter)="close()"
            (keydown.space)="close()"
    >
      X
    </button>

    <h1>Menu</h1>
    <h2>Sleeping Gods Tracker</h2>

      <details>
        <summary>New Game</summary>
        <section>
          <button (click)="newGame()"
                  (keydown.enter)="newGame()"
                  (keydown.space)="newGame()"
          >
            Start a new game
          </button>
        </section>
      </details>

    <details>
      <summary>Import & Export</summary>
      <section>
        <button [disabled]="exportDisabled()"
                (click)="export()"
                (keydown.enter)="export()"
                (keydown.space)="export()"
        >
          Export
        </button>
        <button (click)="import()"
                (keydown.enter)="import()"
                (keydown.space)="import()"
        >
          Import
        </button>
      </section>
    </details>

    <details class="danger">
      <summary>Danger Zone</summary>
      <section>
        <button (click)="clearStorage()"
                (keydown.enter)="clearStorage()"
                (keydown.space)="clearStorage()"
        >
          Clear Storage
        </button>
        <button (click)="clearQuests()"
                (keydown.enter)="clearQuests()"
                (keydown.space)="clearQuests()"
        >
          Remove all Quests
        </button>
        <button (click)="unmarkLocations()"
                (keydown.enter)="unmarkLocations()"
                (keydown.space)="unmarkLocations()"
        >
          Mark all Locations as not done
        </button>
      </section>
    </details>

    <details>
      <summary>What is this?</summary>
      <section>
        <app-explanation />
      </section>
    </details>

    <details>
      <summary>FAQ</summary>
      <section>
        <app-faq [faq]="faq" />
      </section>
    </details>
    </div>
  </div>
}
