:host {
  div {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--color-text);
    color: var(--color-dark);
    padding: 6px;
    width: 4ch;
    text-align: center;
    border-radius: 8px;
    user-select: none;

    &.done {
      text-decoration: line-through;
    }

    strong {
      font-size: 115%;
    }

    span {
      font-size: small;
      white-space: nowrap;
    }
  }

  small {
    display: block;
  }
}
