@for (item of itemTypes; track $index) {
  <div class="{{ item }}">
    <div class="label">
      <fa-icon [icon]="icons[item]"/>
      {{ item | titlecase }}
    </div>
    <p>
      <button [disabled]="items()[item] < 1"
              (click)="increment(item, -1)"
              (keydown.enter)="increment(item, -1)"
              (keydown.space)="increment(item, -1)"
      >
        -
      </button>
      <span>{{ items()[item] }}</span>
      <button [disabled]="items()[item] >= maxItemCount"
              (click)="increment(item, 1)"
              (keydown.enter)="increment(item, 1)"
              (keydown.space)="increment(item, 1)"
      >
        +
      </button>
      <button (click)="reset(item)"
              (keydown.enter)="reset(item)"
              (keydown.space)="reset(item)"
      >
        x
      </button>
    </p>
  </div>
}
