@use 'button';

:host {
  display: flex;
  flex-flow: row nowrap;
  align-items: end;

  & > div {
    &:last-child {
      padding-bottom: .5rem;
    }

    div {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 100%;
      margin: 1rem;

      .label {
        display: inline-block;
        width: 110px;
        margin: 0;

        fa-icon {
          margin-right: .5rem;
          opacity: .7;
        }
      }

      p {
        margin: 0;

        button {
          @include button.primary;
          font-size: small;
          padding: 3px 8px;
        }

        span {
          display: inline-block;
          width: 2rem;
          text-align: center;
        }
      }
    }

    button {
      @include button.ghost;
    }
  }
}
