<p>
  <label for="ship-location">Ship Location</label>
  <input #shipLocation
         type="number"
         id="ship-location"
         inputmode="numeric"
         [value]="location()"
         (change)="updateLocation(shipLocation.valueAsNumber)"
  >
</p>
<p>
  <label for="ship-room">Last used Room</label>
  <select #roomSelection
          (change)="updateRoom(roomSelection.value)"
  >
    @for (option of locationOptions; track $index) {
      <option [value]="option"
              [selected]="option === room()"
      >
        {{ option | titlecase }}
      </option>
    }
  </select>
</p>
