@use 'list';
@use 'button';

ul {
  @include list.default;

  .label {
    width: 100px;
  }
}

button {
  &:not(.secondary) {
    @include button.primary;
  }

  &.secondary {
    @include button.ghost;
  }
}

.row {
  display: flex;
  gap: 1rem;
}
