<div>
  <app-badge [mainText]="'' + location().id"
             [subText]="'p. ' + location().page"
             [caption]="location().title"
             [done]="location().done"
  />
</div>
<div>
  <section>
    <h3>
      Requirements
      <button (click)="addRequirement()">+</button>
    </h3>
      @for (req of requirements(); track req.id) {
        <button class="requirement"
                [class.available]="req.available"
                (click)="deletedRequirement(req.id)"
        >
          @if (req.available) {
            <span>🗸</span>
          }
          {{ req.name }}
        </button>
      } @empty {
        <em>none</em>
      }
  </section>
  <section>
    <h3>
      Rewards
      <button (click)="addReward()">+</button>
    </h3>
    @for(reward of rewards(); track reward.id) {
      <button class="reward"
              [class.available]="reward.available"
              (click)="deletedReward(reward.id)"
      >
        @if (reward.available) {
          <span>🗸</span>
        }
        {{ reward.name }}
      </button>
    } @empty {
      <em>none</em>
    }
  </section>
  <section>
    <h3>
      Comments
      <button (click)="addComment()">+</button>
    </h3>
      @for (comment of location().comments; track $index) {
        <span (click)="editComment($index)">
          {{ comment }}
        </span>
        <button (click)="deleteComment($index)">x</button>
      } @empty {
          <em>none</em>
      }
  </section>
  <section class="done-status">
    @if (location().done) {
      <button (click)="setDoneStatus(false)">unmark</button>
    } @else {
      <button (click)="setDoneStatus(true)">Mark as done</button>
    }
  </section>
</div>
