@use 'button';
@use 'details';

$summaryWidth: 200px;
$summaryHeight: 50px;

:host {
  display: block;
  margin-top: .5rem;
  position: relative;

  details {
    @include details.second-level;

    &[open] {
      padding-bottom: 2.5rem;
    }

    summary {
      display: flex;

      .name-and-tags {
        margin: 0 60px;
      }
    }

    .req-rew {
      display: flex;
      gap: .5rem;

      & > section {
        width: calc(50% - .5rem);

        &:first-child {
          border-right: 1px solid var(--disabled-000);
        }
      }
    }

    section {
      padding: .5rem;

      &.done-status {
        display: flex;
        justify-content: flex-end;
      }
    }

    button {
      @include button.primary;

      &.reward,
      &.requirement {
        @include button.outline;
        text-transform: uppercase;
        margin: 0 .25rem .25rem 0;

        &.available {
          color: var(--secondary-500);
        }
      }
    }
  }

  app-badge {
    display: block;
    margin-bottom: .25rem;
  }

  app-location-tags {
    padding-bottom: 1rem;
  }

  app-switch {
    position: absolute;
    right: .5rem;
  }
}
