<div>
  <app-badge>{{ location().id }}</app-badge>
  <small>{{ location().title }}</small>
</div>
<div>
  <section>
    <h3>
      Requirements
      <button (click)="addRequirement(location().id)">+</button>
    </h3>
      @for (req of location().requires; track $index) {
        {{ req }}
        <button (click)="deletedRequirement(location().id, $index)">-</button>
      } @empty {
        <em>none</em>
      }
  </section>
  <section>
    <h3>
      Comments
      <button (click)="addComment(location().id)">+</button>
    </h3>
      @for (comment of location().comments; track $index) {
          {{ comment }}
          <button (click)="editComment(location().id, $index)">🖊️</button>
          <button (click)="deleteComment(location().id, $index)">x</button>
      } @empty {
          <em>none</em>
      }

  </section>
</div>
