:root {
  --color-primary: #12aeb3;
  --color-text: #fff;
  /*--color-dark: #0b3a41;*/
  /*--color-dark: #1b4c33;*/
  --color-dark: darkslategray;
  --color-accent: #77bc8e;
  --color-disabled: #ccc;
  --color-black: #101010;
  --color-white: #f1f1f1;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  min-height: 100vh;
  background-color: var(--color-dark);
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: .25rem 0;
}

h1 {
  font-size: 1.25rem;
  font-weight: bold;
}

h2 {
  font-size: 1.125rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
}

input {
  padding: 4px;
  border-radius: 8px;
}


cdk-dialog-container {
  display: block;
  margin: 10vh 5vw;
  width: 90vw !important;
  min-height: 20vh !important;
  border-radius: 8px;
  background-color: var(--color-dark);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
